<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<div>
    <h3 align="center">
        <a href="{% url 'homepage' %}">go to homepage</a>
    </h3>
</div>
</body>
</html>