<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1 align="center">
    {{ text }}
</h1>
<div>
    <h3 align="center">
        <a href="{% url 'info' %}">about project</a>
    </h3>
</div>
</body>
</html>